<% content_for :title, "TornBay" %>

<div class="container has-mt-36">
  <h1 class="title"> <span class="has-text-primary">TornBay</span></h1>
  <h3 class="substitle"> 
    Looking to buy or sell rare items from TORN?
This is the place to be!
  </h3>
  <div class="content">
                 <a href=" http://tornbay.com/"> Tornbay </a></div>

  <h5>This is not a real marketplace. It's part of a mmorpg game called TORN. No real money is involved</h4>
</div>