<% content_for :title, "TornBay" %>

<div>
	<head align=center>
      <div>
        <img class="section" class="img" src="https://gyazo.com/f0b3ed5bdfad8fc40562182f7b6d7b4d.png"/> 

    </head>
  <h3 class="title"> 
      <body align="center">
    Looking to buy or sell rare items from TORN?<br>
This is the place to be!
      </body>
  </h3>
  <div class="title">
                 <a href=" http://tornbay.com/"> Click Here </a></div>

  <h5>This is not a real marketplace. <br>It's part of a MMORPG game called <em>TORN CITY</em>. <br>No real money is involved</h4>
</div> 
