<% content_for :title, "TornBay" %>

<div class="container has-mt-36">
  <h1 class="title"> This page is meant for integration with <span class="has-text-primary">TornBay</span></h1>
  <h3 class="substitle"> 
    Work in progress...
  </h3>
</div>