<% content_for :title, "TornBay" %>

<!DOCTYPE html>
<html>
    <head>
      <div class="container has-mt-36">
        <img class="section" class="img" src="https://gyazo.com/f0b3ed5bdfad8fc40562182f7b6d7b4d.png"
 height="75px" width="300px"
 border="5px" alt="" /> 
    </head>
  <h1 class="title"> This page is meant for integration with <span class="has-text-primary">TornBay</span></h1>
  <body class="body">
     <p> Looking to buy or sell rare items from TORN?
<strong>Tornbay</strong> is the place to be!</p> <br />
     <p><a href="https://tornbay.com/" target="_blank">
    Click here 
</a>to go to there</p>
  </body>
</div>

