[Unit]
Description=clockwork

[Service]
Type=simple
WorkingDirectory=/var/www/torntrader/
ExecStart=exec /home/torntrader/.rbenv/shims/bundle exec clockwork config/clockwork.rb
User=torntrader
Group=torntrader
UMask=0002

Environment=MALLOC_ARENA_MAX=2

# if we crash, restart
RestartSec=1
Restart=on-failure

StandardOutput=syslog
StandardError=syslog

SyslogIdentifier=clockwork

[Install]
WantedBy=multi-user.target
