<% content_for :title, "About" %>

<style>
  .top-image-section {
    background-image: url(<%= image_path('how.jpg') %>);
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }
</style>
<div class="top-image-section">
  <h1>abc</h1>
</div>
<div class="article">
  <div class="container">
    <div class="box">
      <h1 class="title has-text-centered">About</h1> 
      <div class="container">
        <h3 class="subtitle">So here is the skinny on this penny,</h3>
        <p> <strong>Torn Trader</strong> is a 
        website and an extension used in unison to provide a unique trading 
        experience, giving it's users complete control over their price list,
        look of their price list and margin of profit.</p>
        <br/>
        <p> The Website itself provides your <strong>Trade Statistics</strong>, 
        previous trade history, custom trade messages, a mobile friendly 
        copy & paste section for trades and many more features.</p>
        <br/>
        <p> The Extension provides the <strong>Trade Calculator</strong>. 
        Showing you the Trade Total, Approximate profit of the trade, 
        and your Trade messages to copy & paste then send to you seller.</p>
      </div>
    </div>
  </div>
</div>
