thead {
  padding: 50px;
}

tbody {
  tr {
    line-height: 3rem;
  }
}

.table.is-hoverable.is-striped tbody tr:not(.is-selected):hover {
  background-color: map-get($torn, "lilac-20");
}

.table.is-hoverable.is-striped tbody tr:not(.is-selected):hover:nth-child(even) {
  background-color: map-get($torn, "lilac-20");
}

// .table.is-striped tbody tr:not(.is-selected):nth-child(even) {
//   background-color: map-get($management, "tangerine-pop-20")
// }

.table__wrapper {
  overflow-x: auto;
}

table td:not([align]), table th:not([align]) {
  text-align: center;
}