// Bulma has no offset 0
@include mobile {
  .column.is-offset-0-mobile {
    margin-left: 0;
  }
}

@include tablet {
  .column.is-offset-0-tablet {
    margin-left: 0;
  }
}

@include touch {
  .column.is-offset-0-touch {
    margin-left: 0;
  }
}

@include desktop {
  .column.is-offset-0-desktop {
    margin-left: 0;
  }
}

@include widescreen {
  .column.is-offset-0-widescreen {
    margin-left: 0;
  }
}

@include fullhd {
  .column.is-offset-0-fullhd {
    margin-left: 0;
  }
}

@each $i in 0, 3, 4, 6, 9 {
  .has-radius-#{$i} { border-radius: #{$i}px; }

  .has-radius-bottom-#{$i} {
    border-bottom-left-radius: #{$i}px;
    border-bottom-right-radius: #{$i}px;
  }

  .has-radius-top-#{$i} {
    border-top-left-radius: #{$i}px;
    border-top-right-radius: #{$i}px;
  }
}

@each $i in 3, 4, 5, 6, 9, 12, 18, 24, 36, 48, 60, 72, 96, 120, 180, 240, 0 {
  .has-pb-#{$i} { padding-bottom: #{$i}px !important; }
  .has-pt-#{$i} { padding-top: #{$i}px !important; }
  .has-pr-#{$i} { padding-right: #{$i}px !important; }
  .has-pl-#{$i} { padding-left: #{$i}px !important; }
  .has-padding-#{$i} { padding: #{$i}px !important; }
  .has-mb-#{$i} { margin-bottom: #{$i}px !important; }
  .has-mt-#{$i} { margin-top: #{$i}px !important; }
  .has-mr-#{$i} { margin-right: #{$i}px !important; }
  .has-ml-#{$i} { margin-left: #{$i}px !important; }
  .has-margin-#{$i} { margin: #{$i}px !important; }
}

@each $i in 3, 4, 5, 6, 9, 12, 18, 24, 36, 48, 60, 72, 96, 120, 180, 240, 0 {
  @include mobile {
    .has-pb-#{$i}-mobile { padding-bottom: #{$i}px !important; }
    .has-pt-#{$i}-mobile { padding-top: #{$i}px !important; }
    .has-pr-#{$i}-mobile { padding-right: #{$i}px !important; }
    .has-pl-#{$i}-mobile { padding-left: #{$i}px !important; }
    .has-padding-#{$i}-mobile { padding: #{$i}px !important; }
    .has-mb-#{$i}-mobile { margin-bottom: #{$i}px !important; }
    .has-mt-#{$i}-mobile { margin-top: #{$i}px !important; }
    .has-mr-#{$i}-mobile { margin-right: #{$i}px !important; }
    .has-ml-#{$i}-mobile { margin-left: #{$i}px !important; }
    .has-margin-#{$i}-mobile { margin: #{$i}px !important; }
  }
}

@each $i in 3, 4, 5, 6, 9, 12, 18, 24, 36, 48, 60, 72, 96, 120, 180, 240, 0 {
  @include tablet {
    .has-pb-#{$i}-tablet { padding-bottom: #{$i}px !important; }
    .has-pt-#{$i}-tablet { padding-top: #{$i}px !important; }
    .has-pr-#{$i}-tablet { padding-right: #{$i}px !important; }
    .has-pl-#{$i}-tablet { padding-left: #{$i}px !important; }
    .has-padding-#{$i}-tablet { padding: #{$i}px !important; }
    .has-mb-#{$i}-tablet { margin-bottom: #{$i}px !important; }
    .has-mt-#{$i}-tablet { margin-top: #{$i}px !important; }
    .has-mr-#{$i}-tablet { margin-right: #{$i}px !important; }
    .has-ml-#{$i}-tablet { margin-left: #{$i}px !important; }
    .has-margin-#{$i}-tablet { margin: #{$i}px !important; }
  }
}

@each $i in 3, 4, 5, 6, 9, 12, 18, 24, 36, 48, 60, 72, 96, 120, 180, 240, 0 {
  @include touch {
    .has-pb-#{$i}-touch { padding-bottom: #{$i}px !important; }
    .has-pt-#{$i}-touch { padding-top: #{$i}px !important; }
    .has-pr-#{$i}-touch { padding-right: #{$i}px !important; }
    .has-pl-#{$i}-touch { padding-left: #{$i}px !important; }
    .has-padding-#{$i}-touch { padding: #{$i}px !important; }
    .has-mb-#{$i}-touch { margin-bottom: #{$i}px !important; }
    .has-mt-#{$i}-touch { margin-top: #{$i}px !important; }
    .has-mr-#{$i}-touch { margin-right: #{$i}px !important; }
    .has-ml-#{$i}-touch { margin-left: #{$i}px !important; }
    .has-margin-#{$i}-touch { margin: #{$i}px !important; }
  }
}

.is-borderless {
  border: 0;
}

.has-shadow {
  box-shadow: 0 1px 3px rgba(#1D1A1B, 0.25);
}

.is-white {
  color: $torn-white !important;
}

.has-bg-white {
  background: $torn-white !important;
}

.has-border-white {
  border-color: $torn-white !important;
}

.has-border-bottom {
  border-bottom: 1px solid;
}

.has-border-top {
  border-top: 1px solid;
}

.has-border {
  border: 1px solid;
}


@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.hide-slow {
  display: none;
}

.show {
  display: initial;
  -webkit-animation: fadeIn 100ms;
  animation: fadeIn 500ms;
  position: absolute;
  z-index: 100;
}
