@import "./colors";

@import "bulma/bulma";
@import "navbar";
@import "sidebar";
@import "tables";
@import "modals";

@import "./font";
@import "./typography";
@import "./utils";
@import "./basics";
@import "./flexbox";

.hide-mob {
  @include touch {
    display: none;
  }
}
.notification {
  margin-bottom: 0px !important;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
}

#wrapper {
  flex: 1;
}

.footer {
  padding: 50px;
}

.container {
  @include touch {
    padding-left: 10px;
    padding-right: 10px;
  }
}