@import "./colors";

@import "tornbay"

@import "bulma/bulma";
@import "bulma-block-list/src/block-list";
@import "navbar";
@import "sidebar";
@import "tables";
@import "modals";

@import "./font";
@import "./typography";
@import "./utils";
@import "./basics";
@import "./flexbox";
@import "./homepage";

.mt-mob-5 {
  @include touch {
    margin-top: 5%;
  }
}

.article {
  margin-top: -5%;
  @include touch {
    margin-top: -50%;
  }
}

.hide-mob {
  @include touch {
    display: none;
  }
}

.center-mob {
  @include touch {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.notification {
  margin-bottom: 0px !important;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
  background: $primarybackground !important;
}

#wrapper {
  flex: 1;
}

.footer {
  padding: 50px;
}

.container {
  @include touch {
    padding-left: 10px;
    padding-right: 10px;
  }
}

