$torn-white: #fff;

@import "bulma/bulma";
@import "bulma-prefers-dark/bulma-prefers-dark.sass";
@import "bulma-block-list/src/block-list";

@import "navbar";
@import "sidebar";
@import "tables_dark";
@import "modals";

@import "./font";
@import "./typography";
@import "./utils";
// @import "./basics";
@import "./flexbox";

.hide-mob {
  @include touch {
    display: none;
  }
}

.component-name {
  font-weight: bold;
}

.center-mob {
  @include touch {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.notification {
  margin-bottom: 0px !important;
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
  // background: $primarybackground !important;
}

#wrapper {
  flex: 1;
}

.footer {
  padding: 50px;
}

.container {
  @include touch {
    padding-left: 10px;
    padding-right: 10px;
  }
}

